.filter-card {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: hsl(var(--hsl-b3));
  padding: 10px 10px;
  border-radius: 5px;
  height: 43px;
}
.active-filter-card {
  outline: 2px solid rgb(125, 138, 143);
}

.edit-btn,
.save-btn,
.cancel-btn,
.add-btn {
  border: none;
  border-radius: 3px;
  font-size: 18px;
  align-self: center;
  user-select: none;
  &:disabled {
    opacity: 75%;
    pointer-events: none;
  }
}
.edit-btn {
  background-color: rgb(89, 102, 108);
  &:hover {
    background-color: rgb(125, 138, 143);
  }
}
.add-btn {
  background-color: rgb(78, 95, 104);
  width: 100%;
  &:hover {
    background-color: rgb(105, 123, 132);
  }
}

.save-btn {
  background-color: rgb(89, 102, 108);
  &:hover {
    background-color: rgb(125, 138, 143);
  }
}
.cancel-btn {
  background-color: rgb(217, 108, 108);
  &:hover {
    background-color: rgb(190, 111, 111);
  }
}

.filter-name {
  width: 200px;
  text-align: left;
}

.range-type-btn {
  border: none;
  border-radius: 3px;
  background-color: hsl(var(--hsl-b3));
  user-select: none;

  &:hover {
    background-color: hsl(var(--hsl-b2));
  }
}
.selected-range-type {
  background-color: hsl(var(--hsl-h2));

  &:hover {
    background-color: hsl(var(--hsl-h1));
  }
}
.range-type-container {
  position: absolute;
  display: flex;
  background-color: rgb(83, 95, 105);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 5px;
  gap: 2px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.filter-controls-container {
  position: relative;
}

.filter-input {
  background-color: hsl(var(--hsl-b5));
  border-radius: 3px;
  text-align: center;
  user-select: none;
  &:focus {
    outline: 1.5px solid rgb(141, 157, 167);
  }
}
.num-filter {
  width: 75px;
}
.string-filter {
  width: 240px;
}
.date-filter {
  width: 130px;
  font-size: 14px;
}
.filter-saved {
  user-select: none;
}

.range-container {
  display: flex;
  gap: 6px;
  align-items: center;
}

.filter-controls-container {
  display: flex;
  gap: 6px;
}
.range-type-icon {
  background-color: rgb(89, 102, 108);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  font-size: 18px;
  border-radius: 5px;
  padding-bottom: 2px;
  padding-left: 0px;
  user-select: none;
}

.filter-input-controls {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.date-filter::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
